.linkContainer {
  display: none;
  padding-right: 5rem;
}
.logoContainer {
  padding-left: 1rem;
}
.logoName {
  display: none;
}
.hamMenu {
  display: inline-block;
  padding-right: 1rem;
}
.nav {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p {
  display: inline-block;
  padding: .4rem;
  cursor: pointer;
}
.menu {
  background-color: rgb(155, 153, 139);
  position: absolute;
  right: 1rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media (min-width: 320px) {

  .logoName {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .logoContainer {
    padding-left: 5em;
  }
  .linkContainer {
    display: inline-block;
  }
  .hamMenu {
    display: none;
  }
}
