.linkContainer {
  display: none;
}
.logoName {
  display: none;
}
.hamMenu {
  display: inline-block;
}
.nav {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.p {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}
.menu {
  background-color: rgb(155, 153, 139);
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media (min-width: 320px) {
  .logoName {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .linkContainer {
    display: inline-block;
  }
  .hamMenu {
    display: none;
  }
}
